body {
    width: max-content;
    /* background-color: cadetblue; */
}


/* Mode change with class */

.dark {
    background-color: darkgreen;
    color: bisque;
}

.light {
    background-color: blanchedalmond;
    color: darkblue;
}